<div class="container">
	<form action="/admin.php/{{ route }}/update" method="post" class="primary-form">
	<div class="section content">
		<fieldset>
			{{ globals }}
				<div class="input-block input-text">
					<label for="{{ name }}">{{ display }}</label><input type="text" name="globals[{{ name }}]" value="{{ value }}">
				</div>
			{{ /globals }}
		</fieldset>
	</div>
	<div id="publish-action" class="footer-controls push-down">
      <input type="submit" class="btn" value="Save &amp; Publish" id="publish-submit">
    </div>
	</form>
</div>